body {
    background-image: url("../images/food2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

nav {
    background: rgb(153, 14, 14);
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    color: White;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    margin-top: 10px;
}

.btn {
    background: rgb(153, 14, 14);
    
}

.card {
    padding: 20px;
    opacity: 0.8;
    margin-left: 40px;
    text-align: center;
    background-color:black;
    color: white;
}

#card2 {
   margin-top: 20px;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}


.footer {
    color: white;
    margin-top: 25px;
    height: 60px;
    background: rgb(153, 14, 14);
}

table {
    color: white;
}

.tableImage {
    height: 40px;
    width: 80px;
}